
NEXTAUTH_SECRET=NEXTAUTH_SECRET
NEXTAUTH_URL=http://localhost:3000

GOOGLE_CLIENT_ID=446065196196-GOOGLE_CLIENT_ID.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=GOCSPX-GOOGLE_CLIENT_SECRET
NEXT_PUBLIC_GOOGLE_AUTH_API_URL=NEXT_PUBLIC_GOOGLE_AUTH_API_URL
NEXT_PUBLIC_GOOGLE_API_URL=NEXT_PUBLIC_GOOGLE_API_URL


# Valid values: day, hour, minute
NEXT_PUBLIC_SEARCH_PERSIST_UNIT=hour
NEXT_PUBLIC_SEARCH_PERSIST_EXPIRE_NUM=1
